{% extends 'body.html' %}
{% load static %}
   {% block head %}
        <link rel="apple-touch-icon" href="apple-touch-icon.png">
  
        
      
        <link rel="stylesheet" id="theme-style" href="{% static 'inicio/css/app.css' %}">
      

        <style>
            .error-personal
            {
                color: #fff;
                background: rgba(250, 0, 0, 0,95);
                text-shadow: -1px -1px 0 rgba(0, 0, 0, 0,5);
            }
        </style>
        
  
{% endblock %}