{% extends 'formulario_registro.html' %}
{% load widget_tweaks %}
{% load static %}
{% block head %}
<link href="{% static 'lib/select2-4.0.13/dist/css/select2.min.css' %}" rel="stylesheet" />
<script src="{% static 'lib/select2-4.0.13/dist/js/select2.min.js' %}"></script>
<link rel="stylesheet" href="{% static 'lib/adminlte/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css' %}">
{% endblock %}
{% block titulo %}
    <div class="card-header bg-secondary">
        <h3 class="card-title">
            <i class="bi bi-person-plus"></i>
            {{ titulo }}
        </h3>
    </div>
{% endblock %}
{% block campos %}

<label for="">{{form2.jefe_familiar.label}}</label>
{{ form2.jefe_familiar|add_class:'form-control'|attr:'autocomplete:off' }}
<label for="">{{form2.parentesco.label}}</label>
{{ form2.parentesco|add_class:'form-control'|attr:'autocomplete:off' }}
<script>
 
    $(document).ready(function() {
    $('#select').select2({
        theme: "bootstrap4",
        placeholder: 'Seleccione el jefe familiar',
        language: "es",
        width: '50%'
    });
});
</script>
{% endblock %}